---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Pagina no Encontrada - Error 404 - Energías Digital SPA"
  description=""
>
  <section class="max-w-screen-xl mt-20 mx-auto p-4">
    <img src="/404.svg" alt="Error Pagina no Encontrada" class="h-96 mx-auto" />
    <h1 class="text-4xl font-bold text-center">Página no encontrada</h1>
    <p class="text-center mt-4">
      La página que buscas no existe o ha sido movida. Por favor, revisa la URL
      e intenta nuevamente.
    </p>
  </section>
</Layout>
